<footer class="" style="text-decoration: none; font-weight: 900; color: white; background-color: brown;">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Instagram -->
        <a href="" style="color: black; text-decoration: none;"><i class="bi bi-instagram" style="color: white;"></i>Instagram</a>
        <a href="" style="color: black; text-decoration: none;"><i class="bi bi-whatsapp" style="color: white;"></i>Whatsapp</a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/">scacoou.com</a>
    </div>
    <!-- Copyright -->
  </footer>