{% extends 'base.html' %}
{% block navbar %}{% include 'navbar.html' %}{% endblock navbar %}
{% block carousel %}{% include 'carousel.html' %}{% endblock carousel %}
    {% block content %}
    <div class="container cool">
      <h1 class="text-center pt-5 title" style="font-family: 'Times New Roman', Times, serif;">Best Actor Of The Year</h1>
      <div class="row">
        <div class=".col-12 col-md-6 col-lg-3 pt-3">
          <div class="card" style="width: 18rem; box-shadow: 5px 5px 5px 5px black;">
            <img src="{{info.carousel2.url}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">MOST INFLUENTIAL STUDENT OF THE YEAR</h5>
              <a href="https://paystack.com/pay/1s9jvqjbpo" class="btn butt">Vote</a>
            </div>
          </div>
        </div>
        <div class=".col-12 col-md-6 col-lg-3 pt-3">
          <div class="card" style="width: 18rem; box-shadow: 5px 5px 5px 5px black;">
            <img src="{{info.carousel2.url}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">MOST INFLUENTIAL STUDENT OF THE YEAR</h5>
              <div class="btn-group dropup">
                <button type="button" class="btn butt" data-bs-toggle="dropdown" aria-expanded="false">Vote</button>
                <ul class="dropdown-menu">
                  
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class=".col-12 col-md-6 col-lg-3 pt-3">
          <div class="card" style="width: 18rem; box-shadow: 5px 5px 5px 5px black;">
            <img src="{{info.carousel2.url}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">MOST INFLUENTIAL STUDENT OF THE YEAR</h5>
              <a href="#" class="btn butt">Vote</a>
            </div>
          </div>
        </div>
        <div class=".col-12 col-md-6 col-lg-3 pt-3">
          <div class="card" style="width: 18rem; box-shadow: 5px 5px 5px 5px black;">
            <img src="{{info.carousel2.url}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">MOST INFLUENTIAL STUDENT OF THE YEAR</h5>
              <a href="#" class="btn butt" >Vote</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endblock content %}
    {% block footer %}{% include 'footer.html' %}{% endblock footer %}{% include 'footer.html' %}
  




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>